






.slider {
    max-width: 600px;
    height: 600px;
    margin: 0 auto;
    user-select: none;
    touch-action: pan-y;
}
.slider__list {
    max-width: 600px;
    height: 600px;
    overflow: hidden;
}
.slider__list .grabbing {
    cursor: grabbing;
}
.slider__track {
    display: flex;
    flex-direction: row;
}
.slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.slide img {
    width: 100%;
    pointer-events: none;
}

.slider__item__count {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
}

.slider__arrows {
    margin-top: 20px;
    text-align: center;
}
.prev,
.next {
    font-size: 30px;
    width: 3em;
    line-height: 2em;
}
.next.disabled,
.prev.disabled {
  opacity: 0.25;
  pointer-events: none;
}